/* banner */
.hero-banner {
  width: 100%;
  height: 450px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/banner.jpg");
  background-size: cover; /*phủ kín nhưng vẫn giữ tỉ lệ*/
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.hero-content {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
}

.hero-name {
  font-size: 40px;
  margin-bottom: 10px;
}

/* nav-bar */
.nav-bar {
  height: 80px;
  align-items: center;
  position: relative;
}

.nav-left,
.nav-right {
  text-align: center;
}
.nav-bar a {
  margin: 0 20px;
  text-decoration: none;
  color: #333;
}

/* avartar */
.avatar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -55px;
}
.avatar img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 8px solid white;
  object-fit: cover;
  background: white;
}
/* -----targer info -------- */

.row-info {
  background-color: rgb(227, 229, 226);
}
.row-target {
  background-color: rgb(232, 237, 237);
}

.target-info p,
h2 {
  margin: 0;
}

.target,
.info {
  /* margin-top: 50px;
  margin-left: 20px; */
  margin: 30px 60px;
}

.row-info p {
  margin-bottom: 0;
}
.row-info h2 {
  margin-bottom: 15px;
}
.row-target h2 {
  margin-bottom: 15px;
}
/* authen form  */
.user-email {
  width: 100%;
}
.label-mail {
  display: block;
  margin-bottom: 20px;
  font-size: small;
}

.btn-submit {
  background-color: #0079d6;
  color: #eaeaea;
  border: none;
  /* text-align: center; */
  height: 40px;
  width: 70px;
  border-radius: 10%;
}

/* exp - learning - activity - hobbies - language - skill----- */
/*1 2 3 : exp - learning - activity  */

.resume-col {
  display: flex;
}

.char-item {
  border: 1px solid lightgrey;
  padding: 5px;
  margin: 10px 0;
  width: 100%;

  /* cau hinh title va icon */
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 80px auto;
  align-items: start;
}

.char-content {
  grid-column: 1/-1;
  padding-right: 10px;
}

.char-title {
  font-size: 30px;
  font-weight: bold;
  justify-self: center;
}
.title-icon {
  font-size: 50px;
  color: lightgray;
  justify-self: center;
}
.char-item ul {
  grid-column: -1/1;
  list-style: none;
}
/* them cham tron xanh truoc li */
.dad-li div::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #008fa1;
  border-radius: 50%;
  flex-shrink: 0; /*chấm tròn chống méo*/
  margin-left: -20px;
}
.dad-li div {
  display: flex;
  align-items: center; /* Căn giữa dấu chấm tròn theo chiều dọc của chữ */
  gap: 10px; /* Khoảng cách giữa dấu chấm và chữ */
  margin-bottom: 8px;
}

.child-ul {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Xóa bỏ dấu chấm tròn mặc định của hệ thống */
.child-ul {
  list-style: none;
  padding-left: 0; /* Xóa padding mặc định để không bị thụt lề quá sâu */
  margin-top: 5px; /* Khoảng cách nhẹ với dòng chữ phía trên */
}

.child-ul li {
  position: relative;
  padding-left: 15px; /* Tạo khoảng trống 15px để nhường chỗ cho dấu gạch ngang */
  margin-bottom: 6px; /* Khoảng cách giữa các dòng gạch ngang với nhau */
  text-align: justify; /* Cho chữ căn đều 2 bên cho đẹp (tùy chọn) */
}

/* Tự động chèn dấu '-' vào trước mỗi dòng li */
.child-ul li::before {
  content: "-"; /* Ký tự gạch ngang */
  position: absolute;
  left: 0; /* Đặt sát rìa bên trái của thẻ li */
  top: 0; /* Căn thẳng đỉnh với dòng chữ */
  color: #555; /* Màu sắc của dấu gạch ngang (có thể chỉnh tùy ý) */
}

/* to xanh hinh oval muc time cua li  */
.time-blue {
  background-color: #0086d6;
  color: aliceblue;
  border-radius: 1cm;
  font-style: italic;
  padding: 3px 20px;
}

/* 4: hobbies */
.hobbies-item-group {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 35px;
  align-items: center;
  /* gap: 15px; */
}

/* so thich----------------------- */
.hobbies-item {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.hobbies-item span {
  font-size: small;
}

.ic {
  width: 70px;
  height: 70px;
  border: solid 1px #0086d6;
  border-radius: 50%;
  margin-bottom: 10px;

  /* Ép vòng tròn không bị nở to ra khi cộng thêm padding */
  box-sizing: border-box;

  /* Định dạng kích thước icon và đưa khoảng cách dòng về bằng đúng cỡ chữ */
  font-size: 30px;
  line-height: 30px;
  color: #0086d6; /* Tô màu xanh cho icon trùng màu viền */
  /* Căn giữa icon theo chiều ngang */
  text-align: center;

  /* TÍNH TOÁN PADDING ĐỂ ĐẨY ICON VÀO TÂM  */
  padding: calc((70px - 12px - 30px) / 2);
  padding-top: 20px;
}

/* 5: language */
.lang-skill {
  /* cha cua lang -item*/
  display: grid;
  grid-template-rows: 1fr;
  grid-column: 1 / -1;
  margin-top: 35px;
}
.lang-item {
  margin-bottom: 20px;
}

.skill-name {
  margin-bottom: 10px;
}
/* --6: skill --------------- */

/*  to mau cac thanh bar cua ngon ngu va ky nang---- */
.skill-bar {
  display: flex;
  gap: 10px;
}

.bar {
  flex: 1; /* Ép các vạch tự chia đều độ rộng bằng nhau */
  height: 1px; /* Độ dày của thanh vạch */
  background-color: #eaeaea; /* Màu xám nhạt mặc định cho đoạn chưa đạt */
}
.gain {
  height: 1px;
  background-color: #0086d6; /*nếu đạt */
}

/* certificate  awards-------------------------------------- */

.cer {
  background-color: rgb(232, 237, 237);
  margin: 50px 0;
  padding: 50px 0;
}
.cert-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.cert-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
}

.cert-item img {
  width: 100%;
  height: auto;
  align-self: self-start;
}
.cert-ai {
  border-left: #d67600 1px solid;
  padding-left: 10px;
}

.cert-item h3 {
  margin-bottom: 20px;
  font-size: medium;
}

.cert-item ul {
  margin-left: 10px;
  font-size: 20px;
  line-height: 1.5;
  list-style: "-";
}

.cert-item li {
  padding-left: 10px;
}

/* ke hang ngang mau cam */
.cert-line {
  margin: 20px 5px;
  content: "";
  height: 1px;
  background-color: #d67600;
}

/* project----------------------------------------- */
.col-pro {
  display: flex;
}
.proj-item img {
  width: 100%;
  margin-bottom: 20px;
}

.proj {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: auto 50px auto; */
  margin-left: 250px;
  margin-right: 250px;
  gap: 50px;
}

.proj-title {
  grid-column: 1/-1;
  margin-top: 50px;

  font-size: 30px;
  font-weight: bold;
}
.proj-item {
  display: grid;
  /* grid-template-columns: 1fr; */
  border: lightgrey 1px solid;
  display: grid;
  grid-template-rows:
    auto /* ảnh */
    40px /* title */
    60px /* info bar */
    1fr; /* nội dung */
}

.pro-link {
  padding-left: 10px;
  text-decoration: none;
  font-weight: bold;
  /* padding-bottom: 10px; */
}

.proj-bar {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  font-size: 15px;
  padding-left: 10px;
  align-items: center;
  border-top: lightgrey 1px solid;
  border-bottom: lightgrey 1px solid;
}

.pro-date {
  background-color: #0086d6;
  color: aliceblue;
  border-radius: 1cm;
  font-style: italic;
  padding: 0 20px;
}
dl {
  padding-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  border-top: lightgrey solid 1px;
  display: flex;
}

dt {
  display: inline-block;
  width: 30%;
  font-weight: bold;
}

dd {
  display: inline-block;
  /* width: calc(100% - 120px - 5px); */
  width: 70%;
  margin: 0;
  padding-right: 5px;
}

.proj-item dl:first-of-type {
  border-top: none;
} /* bỏ border top của dl đầu tiên*/

/* footer */
footer {
  height: 100px;
  margin-top: 50px;
  display: flex;
  gap: 40px;

  justify-content: center;
  background-color: rgb(232, 237, 237);
}

footer {
  display: flex;
  justify-content: center; /* Căn giữa các khối mạng xã hội */
  align-items: center;
  gap: 30px; /* Khoảng cách rộng rãi giữa các khối trên PC */
  padding: 20px;
}

footer div {
  display: flex; /* Chuyển thành flex để icon và chữ luôn đi đôi với nhau */
  align-items: center;
  gap: 10px; /* Khoảng cách giữa Icon và Chữ */
}

footer div i {
  font-size: 30px;
}

footer div span {
  font-size: 16px;
}

/* phan tuong tac voi java script  */

/* phan nhap email  */
.hide {
  display: none;
}

/* phan nut hover view more  */
.char-item {
  position: relative;
}
/* .char-title , .title-icon{
  padding-top: 15px;
} */

.btn-view {
  display: inline-block;
  position: absolute;
  bottom: 5px;
  left: 10px;
  /* margin-top: 10px; */

  padding: 6px 10px;
  background-color: lightyellow;
  /* color: white; */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 150px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
}

.char-item:hover .btn-view {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
