@media (max-width: 768px) {
  .hero-name {
    font-size: 20px;
  }

  .nav-left,
  .nav-right {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: start;
  }

  /* target info */

  /* certification */

  .cert-ai {
    border-left: none;
  }
  .cert-line {
    display: none;
  }

  .cert-item {
    border-bottom: 1px solid #d67600;
    margin-bottom: 20px;
  }

  /* .nav-left{
 
} */
  .nav-bar {
    height: 120px;
  }

  /* project */
  .proj-bar {
    display: flex;
    gap: 20px;
  }
  .col-pro {
    margin-bottom: 30px;
  }

  .pro-link {
    align-self: center;
  }

  .proj-item img {
    margin-bottom: 10px;
  }
}
